h1 {
  margin: 0;
  line-height: 20px;
}

.project-preview-container {
  margin: 60px 20px 60px 20px;

  .project-router-button {
    display: flex;
    justify-content: center;
  }
}

.project-preview-wrapper {
  margin: 30px;

  mat-grid-list {
    margin: 0 auto;
  }

  mat-grid-tile {
    background: lightblue;
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;

    .repo-thumb {
      width: 100%;
      object-fit: cover;
    }
  }

  mat-grid-tile-footer {
    height: 30%;
    justify-content: space-between;

    .repo-title {
      font-size: 18px;
    }

    .button-repo {
      color: white;
      border-color: white;
      width: 100%;
    }
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
  }

  .profile-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .repo-owner {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .profile-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .repo-owner {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .project-preview-wrapper {
    .profile-img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    .repo-owner {
      font-size: 12px;
    }

    .mat-grid-tile-footer {
      .repo-title {
        font-size: 14px;
      }
    }
  }
}






