.example-card {
  max-width: 50vw;
  margin: 20px;
  padding: 30px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.menu-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1 10%;
}

