<div class="skills-container">
  <div>
    <h1 class="title">Skills</h1>
    <mat-chip-listbox aria-label="Fish selection" class="list-box">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip> Primary fish</mat-chip>
      <mat-chip> Accent fish</mat-chip>
    </mat-chip-listbox>
  </div>
  <div>
    <h1 class="title">Tools</h1>
    <mat-chip-listbox aria-label="Fish selection" class="list-box">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip> Primary fish</mat-chip>
      <mat-chip> Accent fish</mat-chip>
    </mat-chip-listbox>
  </div>
</div>

