<mat-sidenav-container autosize class="example-container">
  <mat-sidenav #drawer class="example-sidenav" mode="side">
    <div class="menu-wrapper">
      <button (click)="drawer.close()" mat-button routerLink="/home">Home</button>
      <button (click)="drawer.close()" mat-button routerLink="/gallery">Gallery</button>
      <button (click)="drawer.close()" mat-button routerLink="/projects">Projects</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
