.example-card {
  padding: 20px;

  .mat-card-subtitle {
    padding: 0;
  }

  mat-card-subtitle {
    display: flex;
  }

  .example-header-image {
    background-image: url('https://cdn.discordapp.com/attachments/780878761536389141/1119146726847168572/tmp_0bec7548-60c0-4727-94f6-9fc4f48bdf83.jpg');
    background-size: cover;
  }

  .location-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }

  .menu-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1 10%;
  }

  .img {
    max-height: 80vh;
  }

  .mat-mdc-button {
    width: 10px;
    height: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .example-card {
    padding: 10px;

    .img {
      max-height: 90vh;
    }
  }
}

@media (orientation: landscape) and (max-width: 480px) {
  .example-card {
    max-width: 95vw;
    padding: 10px;

    .img {
      max-height: 70vh;
    }
  }
}
