<mat-card class="gallery-card">
  <mat-card-header>
    <div class="header-image" mat-card-avatar></div>
    <mat-card-title [class.darkMode]="isDarkTheme$ | async">Kristaps Ešmits</mat-card-title>
    <mat-card-subtitle>
      <mat-icon class="location-icon">location_on</mat-icon>
      {{currentImg.alt}}
    </mat-card-subtitle>
    <div class="menu-icon-wrapper">
      <button
        [class.darkMode]="isDarkTheme$ | async"
        [matMenuTriggerFor]="menu"
        class="menu-icon"
        mat-icon-button
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img [alt]="currentImg.alt"
       [src]="currentImg.src"
       class="img"
  />
  <div>
    <button (click)="prevImg()" mat-button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="nextImg()" mat-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <a [href]="currentImg.src"
     download
     mat-menu-item
  >
    <mat-icon>download</mat-icon>
    <span>Download</span>
  </a>
</mat-menu>
