<mat-card class="example-card">
  <mat-card-header>
    <div class="example-header-image" mat-card-avatar></div>
    <mat-card-title>Kristaps Ešmits</mat-card-title>
    <mat-card-subtitle>Somewhere</mat-card-subtitle>
    <div class="menu-icon-wrapper">
      <button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="menu-icon"
        mat-icon-button
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img
    [src]="currentImg"
    alt="Photo of a Shiba Inu"
    class="img"
    mat-card-image
  />
  <div>
    <button (click)="prevImg()" mat-button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="nextImg()" mat-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <a [href]="currentImg"
     download
     mat-menu-item
  >
    <mat-icon>download</mat-icon>
    <span>Download</span>
  </a>
</mat-menu>
