<mat-toolbar>
  <button (click)="onToggleSideNav()" aria-label="Example icon-button with menu icon" class="example-icon"
          mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Portfolio</span>
  <span class="example-spacer"></span>
  <mat-icon>light_mode</mat-icon>
  <mat-slide-toggle (change)="onThemeChange($event)" [checked]="isDarkTheme$ | async"></mat-slide-toggle>
  <mat-icon>nightlight</mat-icon>
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
